a {
  text-decoration: none;
}
.ag-theme-alpine .ag-header {
  background-color: #4c7fc1 !important;
  color: white;
}
.ag-theme-alpine .ag-header-icon.ag-header-icon {
  color: white;
}
.ag-theme-alpine .ag-header-cell-label {
  color: white;
}

[col-id="chances"] .ag-header-cell-text,
[col-id="localChances"] .ag-header-cell-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: unset;
  white-space: break-spaces;
  overflow-wrap: anywhere;
  word-break: unset;
  text-align: center;
}

.ag-theme-alpine .ag-row.ag-row {
  font-size: 16px;
}
.ag-theme-alpine .ag-header.ag-header {
  font-size: 16px;
}
.ag-row .ag-cell {
  display: flex;
  align-items: center;
}
#root {
  /* width: 100vw; */
  height: 100vh;
}
.table-container {
  max-width: 1700px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.dropdown-container {
  max-width: 1700px;
  width: 100%;
  padding: 20px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  direction: rtl;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 25px;
  padding: 25px 0;
  /* text-align: start; */
  /* align-self: flex-start; */
  display: block;
  background-color: #4c7fc1 !important;
  color: white;
  width: 100%;
  text-align: center;
}
.subtitle {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.subtitleHref {
  margin: 15px;
  display: block;
  text-decoration: none;
  color: black;
  grid-area: disclamer;
  text-align: center;
  /* width: 100%; */
}
.details-button {
  text-decoration: none;
  padding: 5px 10px;
  height: 25px;
  color: #094c86;
  background-color: #fff;
  font-family: open_sans_hebrewbold;
  padding-top: 2px;
  border: 2px solid #094c86;
}
.details-button:hover {
  color: #fff !important;
  background-color: #094c86 !important;
  border: 2px solid #094c86;
}
.MuiList-root,
.MuiPaper-root {
  direction: rtl;
}
#demo-simple-select {
  padding-left: 32px;
  padding-right: 14px;
}
.MuiInputBase-root svg {
  left: 7px;
  right: unset;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.dataCell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.fetchIconInner {
  width: 16px !important;
  margin-right: 8px;
  opacity: 0.25;
}
.fetchingInner {
  margin-right: 8px;
}

.dataCell:hover .fetchIconInner {
  opacity: 1;
}
.map {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  text-decoration: none;
  padding: 17.5px 14px;
  color: #094c86;
  background-color: #fff;
  font-family: open_sans_hebrewbold;
  border: 1px solid;
  margin-inline-start: 10px;
  border-radius: 4px;
  font-size: 16px;
  border-color: rgba(0, 0, 0, 0.23);
  /* transition: all 0.1s ease-in-out; */
}
.map:hover {
  color: #fff !important;
  background-color: #4c7fc1 !important;
  border: 1px solid #4c7fc1;
}

.refreshAll {
  /* margin-inline-start: auto; */
  align-self: flex-end;
  background: none;
  outline: none;
  border: none;
  color: var(--ag-data-color, var(--ag-foreground-color, #181d1f));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}
.refreshAll.fetching-button-refreshed {
  text-decoration: none;
}
.refreshAll:hover {
  text-decoration: underline !important;
}
.fetching-button {
  opacity: 0.5;
  text-decoration: none !important;
}
.fetching-button:hover {
  text-decoration: none !important;
}
.refreshAllContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 100%; */
  align-self: flex-end;
  margin-right: auto;
}
.spinner {
  visibility: hidden;
}
.fetching .spinner {
  visibility: visible;
}
.selectorContainer {
  font-size: 16px;
  font-weight: 400;
  /* margin-inline-start: 10px; */
  display: flex;
  /* max-width: 1700px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* width: 100%; */
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 5px; */
  align-self: flex-end;
  margin-bottom: -7px;
  margin-right: 15px;
  margin-right: auto;
}

.footer {
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 1740px;
  /* box-sizing: border-box; */
  grid-template-areas: ". disclamer details";
  align-items: center;
  justify-content: center;
}
.twitterLink {
  width: 16px;
  filter: grayscale(100%);
  transition: all 0.15s ease-in-out;
}
.details {
  grid-area: details;
}
.details:hover .twitterLink {
  filter: grayscale(0%);
}

@media screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
  .title {
    font-size: 18px;
  }
  .footer {
    grid-template-columns: 1fr;
    /* box-sizing: border-box; */
    grid-template-areas: "disclamer";
  }
  .refreshAll {
    font-size: 12px;
  }
  .selectorContainer {
    max-width: 128px;
  }
  .refreshAllContainer.fetching {
    height: 23px;
    width: 30px;
  }
  .importantNote {
    display: none;
  }
}

.importantNote {
  text-align: center;
  padding: 0px 0 10px 0;
  color: gray;
  font-size: 13px;
}
.groupBy--city {
  text-align: end;
}